@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");

:root {
  --accent-color: rgb(0, 195, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 4vw;
}
html {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

body {
  width: 100%;
  height: 100%;
  display: grid;
	grid-template-rows: 16vh auto;
	padding: 2vh;
}

body::-webkit-scrollbar {
  display: none;
}

body > h1 {
  display: grid;
  justify-content: center;
  align-content: center;
}

h1 {
  font-size: 16vw;
  line-height: 16vw;
}

h2 {
  font-size: 4vw;
}

button {
  padding: 4vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
  border: none;
  border-radius: 1vw;
  background-color: var(--accent-color);
  color: white;
  outline: none;
}
button:focus {
  border: none;
}
button:disabled {
  background-color: #ddd;
  color: white;
}
#main-menu {
	display: grid;
	align-content: center;
	height: 8vw;
}

#main-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 100vw 100vw;
  overflow: hidden;
  transition: margin-left 0.3s;
}
#main-wrapper > * {
  width: calc(100% - 8vw);
  /* padding: 0 2vw; */
}
#section-start {
  display: grid;
  grid-template-rows: auto 8vh 14vh;
  justify-items: center;
  justify-content: stretch;
  align-items: center;
}

#section-start img {
  height: 80vw;
}

#section-game {
  display: grid;
  align-content: flex-start;
  justify-content: center;
  gap: 10px;
}
#tbl-sudoku {
  width: 90vw;
  height: 90vw;
  border: 4px solid black;
  border-collapse: collapse;
  align-self: flex-end;
}
#tbl-sudoku tr:nth-child(3n) {
  border-bottom: 2px solid black;
}
#tbl-sudoku td {
  border: 1px solid gray;
  width: calc(90vw / 10);
  height: calc(90vw / 10);
  text-align: center;
  font-size: 24px;
}
#tbl-sudoku td > input {
  width: inherit;
  height: inherit;
  border: none;
  font-size: 6vw;
  text-align: center;
  outline: none;
	overflow: hidden;
	color: var(--accent-color);
}
#tbl-sudoku td > input.prefilled {
	color: black;
}

#tbl-sudoku td > input::selection {
  background-color: none;
}

#tbl-sudoku td > input::-webkit-outer-spin-button,
#tbl-sudoku td > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#tbl-sudoku td > input[type="number"] {
  -moz-appearance: textfield;
}

#tbl-sudoku td:hover {
  cursor: pointer;
}

#tbl-sudoku td:nth-child(3n) {
  border-right: 2px solid black;
}
#timer {
  text-align: center;
  align-self: center;
}